/* intro page */
.index {
    background-color: #F0F2F3;
    text-align: center;
    padding-bottom: 30px;
}

#intro img {
    margin-top: 60px;
}

#intro li {
    margin-top: 30px;
    margin-bottom: 20px;
}

#intro ul div {
    font-size: 24px;
    color: #435874;
    text-decoration: underline;
}

#hidden-text {
    max-width: 650px;
    margin: auto;
    margin-top: 20px;
    /* animation */
    opacity: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    max-height: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #CCDDE5;

    color: #334B68;
}

#hidden-text.show {
    max-height: 500px;
    /* animation */
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/* about page */
#about {
    max-width: 700px;
    margin: auto;
    text-align: center;

    background-color: #F0F2F3;
    padding-top: 20px;
    border: 10px solid #D5E5EC;
    border-radius: 50px;
}

#about h1 {
    /* for better look */
    padding-left: 10px;
    padding-right: 10px;
}

#navigation {
    /* so it is in the middle of the page */
    display: flex;
    justify-content: center;
}

#navigation ul {
    display: flex;
    justify-content: center;

    margin: 0;
}

#navigation ul li {
    padding-right: 5px;
    display: inline-block;
}

#basic {
    border-bottom: 5px solid #CCDDE5;
    margin-left: 30px;
    margin-right: 30px;

    padding-bottom: 20px;
}

#basic h3 {
    margin: 0;
}

#skills {
    display: grid;
    grid-template-columns: 50% 50%;

    color: #818DA1;
    font-size: 18px;    

    border-bottom: 5px solid #CCDDE5;
    margin-left: 30px;
    margin-right: 30px;

    padding-bottom: 10px;
}

.prom-lang {
    align-self: center;
}

#experience div {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;

    padding-bottom: 20px;
}

.job {
    color: #818DA1;
    text-align: right;
}

.duration {
    color: #AEBCC9;
    text-align: left;
}

/* commmissions page */
.field {
    width: 80%;
    padding: 10px 20px;
    background-color: #AEBCC9;
    font-size: 16px;
    margin-bottom: 20px;
    transition: 0.3s;
    border: 5px solid #334B68;
    border-radius: 10px;

    transition: transform 0.5s;
    opacity: 0.8;
}

/* funnny interactive things, so it keeps an user entertained*/
.field:hover {
    background-color: #D5E5EC;
    transform: scale(1.025);
    transition-duration: 0.5s;
    opacity: 1;
}

.field:focus {
    background-color: #F0F2F3;
    color: #334B68;
}

.area {
    min-height: 150px;
    max-height: 200px;
    max-width: 80%;
    min-width: 50%;
}

::placeholder {
    color: #435874;
}

:hover::placeholder {
    color: #818DA1;
}

#btn-send {
    margin-bottom: 20px;
}


/* TODO: images can be opened and looked at */


/* My Work */
#artwork {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    gap: 5px;

    justify-content: center;
}

#artwork img {
    transition: transform 0.5s;
    opacity: 0.8;
}

#artwork img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    opacity: 1;
}

#design {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    gap: 5px;

    justify-content: center;

}

#design img {
    transition: transform 0.5s;
    opacity: 0.8;
}

#design img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    opacity: 1;
 }

/* socials page */

#socials div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#socials img {
    width: 80%;
    height: 80%;
    transition: transform 0.5s;
    opacity: 0.8;
}

#socials img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    opacity: 1;
}

#socials h2 {
    padding-bottom: 15px;
}

/* general styles */

/* scrollbar settings for different explorers*/

/* Google Chrome & Safari */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #F0F2F3;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #334B68;
    border-radius: 5px;
  }
  
  /* Firefox */
  ::-moz-scrollbar {
    width: 10px;
  }
  
  ::-moz-scrollbar-track {
    background-color: #F0F2F3;
  }
  
  ::-moz-scrollbar-thumb {
    background-color: #334B68;
    border-radius: 5px;
  }


header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #F0F2F3;
    font-size: 60px;
    font-family: merriweather;
}

header a:hover {
    color: #818DA1;
}

header a:active {
    color: #334B68;
}

.body {
    max-width: 1512px;
    margin: auto;
    font-family: raleway;
    background: linear-gradient(#334B68, #D5E5EC);
    scroll-behavior: smooth;
}

img {
    height: 160px;
    width: 160px;

    max-width: 300px;
    max-height: 300px;
}

h1 {
    color: #334B68;
    font-size: 48px;
    font-family: merriweather;
    margin: 30px;
}

h2 {
    color: #435874;
    font-size: 30px;

    margin-bottom: 0;
}

h3 {
    color: #818DA1;
    font-size: 28px;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    background-color: #435874;
    border: 4px solid #334B68;
    border-top-left-radius: 10px;
    padding: 10px;
    color: #F0F2F3;

    font-size: 24px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #D5E5EC;
    border: 4px solid #CCDDE5;
    color: #334B68;
}

button:active {
    background-color: #334B68;
    border-color: #334B68;
    color: #AEBCC9;
}

button.active {
    transform: translateY(2px);
}

button.disabled {
    pointer-events: none;
    opacity: 0.5;
}

footer {
    margin-top: 60px;
    color: #334B68;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

footer div {
    padding: 5px;
}

/* animation for the stars*/
body i {
    position: absolute;
    /*background: #F0F2F3;*/
    background-image: url("/src/star.svg");
    animation: animate linear infinite;
    z-index: -1;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    10%,90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}


.my-text {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }
  
  /* Set the state of the text after it has loaded */
  .my-text.loaded {
    opacity: 1;
    transform: translateY(0);
  }


/* media queries */
@media (min-width: 375px) and (max-width: 700px) {
    #hidden-text {
        padding-left: 20px;
        padding-right: 20px;

        background-color: #F0F2F3;
    }

    body {
        margin: 0;
    }

    /* TODO: nice navigation in the top right corner*/

    #about {
        border: 0;
    
        background-color: #F0F2F3;
        padding-top: 20px;
        border: 10px solid #D5E5EC;
        border-radius: 0px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 22px;
        margin-top: 28px;
    }

    h3 {
        font-size: 20px;
    }

    #skills {
        display: block;
    }


    #artwork {
        display: block;
    }


    #design {
        display: block;
    }


    #socials div {
        display: block;
    }

    #socials img {
        padding: 20px;
        height: 50%;
        width: 50%;
    }

    /* so it looks more like a book with bookmarks*/
    #navigation button {
        padding: 15px;
        font-size: 18px;
    }

    #navigation ul {
        margin: 0;
        padding: 0;

        align-items: end;
    }

    #navigation ul li {
        padding: 0;
    }
}

/*
* {
    border: 3px solid red;
}
*/